<!DOCTYPE html>
<html>
  <head>
    <title>TranscriptionReader</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Raleway|Roboto" rel="stylesheet">
  </head>

  <body>
    <div id="main"></div>
    <%= yield %>
  </body>
</html>
